* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.company-input {
  background: #f4f7fa;
}
.company-input::placeholder {
  color: rgb(66, 64, 64);
}
.company-input:disabled {
  background: rgb(240, 240, 240);
  pointer-events: none;
}
.company-input:disabled::placeholder {
  color: rgb(0, 0, 0);
}
.save {
  width: 5rem;
}
.company-input,
.client-input,
.product-input,
.item-qty,
.item-name,
.item-price,
.add-btn {
  height: 2.5rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(141, 144, 150) !important;
}
.invoice-btn {
  background: #2585a8;
  color: #fff;
  padding: 0.375rem 0.75rem;
}
.invoice-btn:hover {
  border: 1px solid #2585a8;
  color: #2585a8;
  background: #f4f7fa;
}
.short-input label:not(:first-child),
.payment-wrap label:not(:first-child) {
  margin-left: 1rem;
}
.bill,
.items {
  font-size: 16px !important;
}
.item-qty {
  width: 5rem;
}
.add-btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn {
  width: 80%;
  background: rgb(141, 144, 150);
  color: #fff;
}
.add-btn-wrap:hover {
  opacity: 0.8;
}
.item-table {
  width: 100%;
  border-bottom: 1px solid #8d90967a;
}

.item1 {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "name qty price total"
    "description description description bin";
  grid-template-rows: auto;
  grid-template-columns: 40% 10% 1fr 15%;
  gap: 20px;
}

.item1-name {
  grid-area: name;
  background-color: rgb(245, 243, 243);
}
.item1-qty {
  grid-area: qty;
}
.item1-price {
  grid-area: price;
}
.item1-total {
  grid-area: total;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1-total p {
  margin: 0;
}
.item1-description {
  grid-area: description;
}
.item1-bin {
  grid-area: bin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bin {
  font-size: 1.5rem;
}
.item-name,
.item-price,
.item-qty,
.item-total,
.item1-description {
  width: 100%;
}
.profile-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-wrap {
  border: 1px solid #777a7d;
  width: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 10px;
  border-radius: 15px;
}
.edit-wrap:hover {
  cursor: pointer;
  background: rgb(224, 224, 224);
}
.edit-wrap p {
  margin-bottom: 0;
  font-size: 16px;
}
.upload-wrap label {
  width: 10rem;
  height: 10rem;
  border: 1px dashed rgb(116, 116, 116);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* pointer-events: none; */

}
.upload-wrap input, #img-upload {
  display: none;
}
#uploaded-image{
  width: 10rem ;
  height: 10rem;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 900px) {
  
  .company-input,
  .client-input {
    width: 100% !important;
  }
  .short-input label:not(:first-child),
  .payment-wrap label:not(:first-child) {
    margin-left: 0;
  }
  .payment-wrap {
    margin-top: 0 !important;
  }
  .short-input {
    margin-top: 0 !important;
  }
  .payment-wrap .client-input:not(:last-child) {
    margin-bottom: 1rem !important;
  }
  .item1 {
    flex-direction: column;
  }
  .item-name,
  .item-qty,
  .item-price {
    width: 100% !important;
  }
  .item1 {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas:
      "name name name"
      "description description description"
      "qty price total"
      ". . bin";
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 20px;
  }
  .status-section {
    display: none !important;
  }
}
