.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status {
  background-color: #f4f7fa;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px;
  margin: 0 3px;
}
.status option {
  color: rgb(0, 0, 0) !important;
  background: #fff !important;
}
.status-section {
  width: auto;
  display: flex;
  align-items: center;
}
.status-section label {
  margin: 0;
  margin-right: 0.5rem;
}
.filter-status {
  padding: 4px 15px;
  min-height: auto;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
/* .draft{
    background-color: #d1dce8;
    color: #31608a;
}
.success {
    color: #027d02;
    background: #6dff69f2;
}
.pending{
    background: #f0df7d;
    color: #808009;
} */
.search {
  font-size: 15px !important;
  font-weight: 500;
  width: 10rem;
  color: rgb(57, 58, 61) !important;
  box-sizing: border-box;
  height: 31px;
  border: 1px solid rgb(141, 144, 150) !important;
  background: #f4f7fa none repeat scroll 0% 0% !important;
  display: block;
  padding: 5px;
  border-radius: 4px !important;
  outline: currentcolor none medium;
  opacity: 100;
}
.company-input,
.client-input,
.product-input,
.item-qty,
.item-name,
.item-price,
.add-btn {
  height: 2.5rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(141, 144, 150) !important;
}
.phone,
.email,
.city,
.zipcode {
  width: 40%;
}
.website {
  width: 100%;
}
.invoice-btn {
  background: #2585a8;
  color: #fff;
  padding: 0.375rem 0.75rem;
}
.invoice-btn:hover {
  border: 1px solid #2585a8;
  color: #2585a8;
  background: #f4f7fa;
}
.short-input label:not(:first-child),
.payment-wrap label:not(:first-child) {
  margin-left: 1rem;
}
.bill,
.items {
  font-size: 16px !important;
}
.ctrler, .short-ctrler{
  position: relative;
  margin-top: 1em;
}
.short-ctrler{
  width: 50%;
}
.short-ctrler input{
  width: 90%;
}
small{
position: absolute;
left: 0;
bottom: 0;
}
.short-ctrler small{
  bottom: -1.5em;
  right: -10px;
}
.short-input label{
  display: block;
}
.item-qty {
  width: 5rem;
}
.add-btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn {
  width: 80%;
  background: rgb(141, 144, 150);
  color: #fff;
}
.add-btn-wrap:hover {
  opacity: 0.8;
}
.item-table {
  width: 100%;
  border-bottom: 1px solid #8d90967a;
}

.item1 {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "name qty price total"
    "description description description bin";
  grid-template-rows: auto;
  grid-template-columns: 40% 10% 1fr 15%;
  gap: 20px;
}

.item1-name {
  grid-area: name;
  background-color: rgb(245, 243, 243);
}
.item1-qty {
  grid-area: qty;
}
.item1-price {
  grid-area: price;
}
.item1-total {
  grid-area: total;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1-total p {
  margin: 0;
}
.item1-description {
  grid-area: description;
}
.item1-bin {
  grid-area: bin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bin {
  font-size: 1.5rem;
}
.item-name,
.item-price,
.item-qty,
.item-total,
.item1-description {
  width: 100%;
}
@media (max-width: 900px) {
  .filter-container {
  }
  .company-input,
  .client-input {
    width: 100% !important;
  }
  .short-input label:not(:first-child),
  .payment-wrap label:not(:first-child) {
    margin-left: 0;
  }
  .payment-wrap {
    margin-top: 0 !important;
  }
  .short-input {
    margin-top: 0 !important;
  }
  .payment-wrap .client-input:not(:last-child) {
    margin-bottom: 1rem !important;
  }
  .item1 {
    flex-direction: column;
  }
  .item-name,
  .item-qty,
  .item-price {
    width: 100% !important;
  }
  .item1 {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas:
      "name name name"
      "description description description"
      "qty price total"
      ". . bin";
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 20px;
  }
  .status-section {
    display: none !important;
  }
}
