*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.details{
    position: relative;
    margin: 1em 0;
}

.details small{
    position: absolute;
    bottom: 0;
    left: 0;
}
.details input{
    height: 2.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(141, 144, 150) !important;
}
.set-cont{
    margin: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.set{
    height: auto;
    padding: 1rem;
}