*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.details{
    position: relative;
    margin: 1em 0;
}
.details input{
    height: 2.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(141, 144, 150) !important;
}
.set-cont{
    margin: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.set {
  margin-top: 3rem;
}
.setup-details {
  margin-bottom: 4rem;
}
.details input:hover,
.details input:focus {
  border: 2px solid rgba(23, 170, 170, 0.733) !important;
}

.setup-btn {
  background: rgba(23, 170, 170, 0.733) !important;
  border: 1px solid rgba(23, 170, 170, 0.733) !important;
  color: #fff !important;
}
.setup-btn:hover {
  background: rgba(16, 114, 114, 0.733) !important;
  border: 1px solid rgba(16, 114, 114, 0.733) !important;
}
.error-txt {
  color: rgb(244 53 53);
  font-size: 11.5px;
}
.footer {
  height: 5rem;
  font-size: 12px;
}
.setup-logo {
  padding-top: 0.25rem;
}
.setup-logo h3 {
  margin-bottom: 0;
  font-size: 20px;
}
